extends common/layout.pug

block content
    section.slineCompany
        .container
            .slineCompany__Grid
                .slineCompany__images
                    img.slineCompany__ImageMobile(src="./img/content/main.png")
                    img.slineCompany__ImageDesctop(src="./img/content/main.png")
                .slineCompany__info
                    h1.slineCompany__header О компании
                    .slineCompany__text
                        p Компания «С-Лайн» была основана в 2014 году. Наша специализация – производство, установка и обслуживание систем и комплексов для очистки воздуха.
                        p Наша деятельность началась с сервисного обслуживания очистного оборудования присутствующего на тот момент на рынке. И это был полезный опыт, поскольку мы, наблюдая за ходом эксплуатации оборудования и устраняя неполадки в его работе, собрали обширнейшую базу данных. Мы проанализировали основные технические проблемы и, в итоге, решили создавать собственный продукт. Нами были созданы свои уникальные инновационные технологии, большая часть которых запатентована и на сегодняшний день не имеет аналогов на рынке. В разработке источников питания, программирования контроллера и разработке щита управления в целом принимали участие специалисты из ведущего российского университета – МГТУ им. Баумана.
                        p Мы высоко ценим время и доверие наших клиентов, и потому работаем только с надежными, проверенными поставщиками качественных материалов, продвинутых средств контроля и управления, изготовленных в России и для России. Нами используются оптимальные протоколы связи центральной диспетчеризации RS-485, GSM-управление. Сборкой и кастомизацией оборудования занимается команда квалифицированных и аттестованных специалистов. Всё оборудование сертифицировано (ГОСТ Р, ISO, ЕАЭС).
                        br
                        p Сегодня у «С-Лайн» более 150 корпоративных клиентов, среди которых крупные промышленные предприятия, офисные центры, рестораны и кафе. Заключено свыше 340 контрактов.
                        br
                        p Мы продолжаем постоянно совершенствовать технологии и системы фильтрации, что позволяет адаптировать их к индивидуальным запросам каждого конкретного клиента. В настоящий момент мы тестируем принципиально новые системы фильтрации, и первыми ознакомиться с новинками смогут наши клиенты.
                        br
                        p Наша компания предлагает следующие услуги:
                        ul
                            li - Монтаж в короткие сроки оборудования на объекте.Полное обеспечение монтажа сопутствующими материалами.Разработка проектной документации.Выполнение работ аттестованным персоналом.
                            li - Послепродажное обслуживание клиента.Межсервисные интервалы зависят от количества загрязняющих веществ на обслуживаемом предприятии и рассчитываются индивидуально.
                            li - Выезд на объект наших специалистов.Наличие своих сервисных бригад.Возможность аварийного реагирования(мы имеем свой автопарк с большим количеством единиц транспорта). Наши технические специалисты на связи круглосуточно без выходных.
                            li - Обучение персонала обслуживанию воздухоочистительных систем в регионах.
                            li - Возможность дистанционного контроля оборудования при помощи GSM технологий.Мониторинг оборудования в режиме онлайн.Интерактивная система.
                        br
                        p Гарантия на оборудование – 10 лет. На расходные материалы гарантия 1 год. На нашем складе постоянно имеются в наличии запасные части.
                        br
                        p Чистый воздух является одним из ключевых факторов, влияющих на качество жизни и труда, и наша задача состоит в том, чтобы обеспечить клиентам оптимальные производственные условия.
                        br
                        p «С-Лайн» - ваш чистый бизнес!
