extends common/layout.pug

block content
    section.slineBlock4.sline__padding
        .container
            .slineBlock4__grid
                .slineBlock4__info
                    h2.slineBlock4__header Контакты
                    p.slineBlock4__phons
                        a.slineBlock4__phone(href="tel:74996535335") +7 (499) 653-53-35
                        //a.slineBlock4__phone(href="tel:79164744979") +7 (916) 474-49-79
                    a.slineBlock4__email(href="mailto:info@emifenix.ru") info@emifenix.ru
                    .slineBlock4__address 127299, город Москва,<br> ул. Клары Цеткин,<br> дом 18, стр. 1
                    .slineBlock4__worktime Работаем по будням с 9:00-18:00
                    button.slineBlock4__button.btn Обратный звонок
                .slineBlock4__map <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5cc9ab4f416cfe87f849808398bc7a1f74927f33d336aef75adc380ad7772816&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>

