extends common/layout.pug

block content
    section.slineBlock4
        .container
            .slineBlock4__grid
                .slineBlock4__info
                    h2.slineBlock4__header Контакты
                    p.slineBlock4__phons
                        a.slineBlock4__phone(href="tel:74996535335") +7 (499) 653-53-35
                        a.slineBlock4__phone(href="tel:79164744979") +7 (916) 474-49-79
                    a.slineBlock4__email(href="mailto:info@sline-air.ru") info@sline-air.ru
                    .slineBlock4__address Москва ул. Остоженка,<br>с.1, к.3, офис 55
                    .slineBlock4__worktime Работаем по будням с 9:00-18:00
                    button.slineBlock4__button.btn Обратный звонок
                .slineBlock4__map <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3c070d618b89bcb6734290d39a5284efbd6c133e7feb26a19cfa490df62543e1&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>

