extends common/direction.pug

block header
    h1 Деревообрабатывающая промышленность
block text
    p В данном виде промышленности существуют участки производств, где происходит склейка деталей, нанесение лакокрасочных материалов на изделия, изготовление ДСП, нанесение кромок на ДСП. На всех этих участках вентиляция засасывает и выбрасывает в атмосферу пыль, волокна, а также вредные химические соединения, такие как фенол, масляные аэрозоли, ацетон, формальдегид и т.д. Очистной комплекс S-Line Aero PRO с возможностью компоновки разными участками и ступенями очистки, позволяет решить задачу вредных выбросов. Учитывая, что в основном деревообрабатывающие производства находятся загородом, вредные выбросы осуществляются в экологически чистую атмосферу. Как показывает практика, среди руководителей предприятий находится все больше и больше тех людей, кому не безразлична окружающая среда, заинтересованных в инсталляции наших очистных установок.  Также, для полного цикла безотходного производства, котельные, которые обеспечивают такие предприятия теплом, топятся на своих же отходах деревообработки. На такие участки в качестве средства пожаробезопасности отлично подойдут накопительные гидрофильтры S-Line Aqua PRO.
block img
    img.ImageMobile(src="./img/content/wood.png")
    img.ImageDesctop(src="./img/content/wood.png")