extends common/lines.pug

block header
    h1.slineLines__header Гидрофильтры

block text
    p.slineLines__text Гидрофильтры проточные S-Line Aqua и S-Line Aqua PRO применяются для осаждения сажи, гашения искр, сбивания температуры воздушных потоков до допустимых температур, также служат как модули подготовки воздуха перед очисткой. Используются преимущественно в ресторанах - в мангальных и тандырных зонах. Также служат средством пожарной безопасности. Изготавливаются из нержавеющей стали AISI 304, 410. Отличие серий: S-Line Aqua – это гидрофильтр проточный, а S-Line Aqua PRO - накопительный.

block lines
    - var text1 = 'В проточных гидрофильтрах S-Line Aqua установлены форсунки для распыления воды, которая разбрызгивается на кассету с сетками, гася искры и сбивая сажу. Сетка также является теплообменником, снижая температуру вытяжного воздуха. За кассетой находится каплеотбойник, собирающий влагу. Она осаждается в нижней части гидрофильтра, и через выпускной патрубок вытекает в канализацию. Для защиты форсунок от грязи установлен фильтр тонкой очистки. Работу гидрофильтра регулирует кран подачи воды. В комплект можно добавить автоматические светосигнальные индикаторы. Габаритные размеры зависят от производительности оборудования.'
    - var text2 = "Накопительные гидрофильтры S-Line Aqua PRO имеют U- образную форму. Определенное количество воды циркулирует в замкнутой системе, без слива в канализацию. Подачу регулирует автоматика. Гидрофильтры поделены на 2 камеры: входная и выходная. Во входную вода попадет через форсунки – давление обеспечивает циркуляционный насос. Вода проходит через корзины с керамическими кольцами (кольца Рашига), стекает в нижнюю наклонную часть гидрофильтра и снова возвращается в насос. В выходной камере установлен каплеотбойник - на тот случай, если частицы воды не успеют упасть и их сдует в сторону выхода из гидрофильтра. Смена воды (смена цикла) наступает при соблюдении одного из двух условий:\r\n 1. Время работы на одном цикле превысило 3 часа. \r\n2. Температура воды превысила 50 градусов (за этим следит термодатчик). Все исполнительные механизмы (датчики, насосы, краны) питаются от сети 220В и управляются головным устройством – контроллером. Контроллер собственной разработки – от S-Line. Габаритные размеры зависят от производительности оборудования."
    - var lines = {1: {'name':'S-Line Aqua','text':text1}, 2:{'name':'S-Line Aqua PRO','text':text2}}
    each line in lines
        include common/line.pug
