extends common/layout.pug

block content
        section.slineBlock1
            .container
                .slineBlock1__content
                    img.slineBlock1__ImageMobile(src="./img/content/main.png")
                    img.slineBlock1__ImageDesctop(src="./img/content/main.png")
                    .slineBlock1__info
                        h1.slineBlock1__header ОБОРУДОВАНИЕ ДЛЯ ПРОМЫШЛЕННОЙ ОЧИСТКИ ВОЗДУХА
                        p.slineBlock1__text Компания «С-Лайн» с 2014 г., занимается производством, установкой и обслуживанием воздухоочистительных систем.<br><br>Мы используем оптимальные протоколы связи центральной диспетчеризации RS-485, интерактивные системы, GSM-управление, что дает дистанционный контроль оборудования.<br>Мы работаем только с надёжными, проверенными поставщиками. Команда специалистов отвечает за сборку и кастомизацию оборудования, подлежащего обязательной сертификации (ГОСТ Р, ISO, ЕАЭС).<br><br>Гарантия на поставляемое нами оборудование – 10 лет. Собственный склад запасных частей. Специалисты наших сервисных бригад осуществляют оперативное аварийное реагирование с круглосуточным выездом на объект. Проводим обучение персонала для регионов.
                        a.slineBlock1__button.btn(href="/oborudovanie_dlya_ochistki_promishlennoi_vozduha") Подробнее

        section.slineBlock2
            .container
                .slineBlock2__content
                    .slineBlock2__images
                        img.slineBlock2__ImageMobile(src="./img/content/second.png")
                        img.slineBlock2__ImageDesctop(src="./img/content/second.png")
                    .slineBlock2__info
                        h2.slineBlock2__header Собственное проектирование и производство оборудования
                        p.slineBlock2__text Мы предлагаем полный цикл услуг для очистки воздуха промышленных предприятий, основанный на уникальной линейке оборудования, полностью независимой от зарубежных поставщиков.<br><br><a href="ustanovki_dlya_ochistki_vozduha.html">Установки для очистки воздуха</a> S-Line Aero Base, Haze, Auto изготовленные на нашем производстве, позволяют очищать воздух от дыма, аэрозолей, взвешенных частиц устранять запахи. В серии Aero (Base) используется окисление озоном в больших концентрациях, Aero Pro (Haze) действует за счет электрического разряда, в серии Auto используются моноблоки статической очистки и фильтры с ионизацией.<br><br>Нашей компанией разработаны проточные (S-Line Aqua) и накопительные (S-Line Aqua RRO) <a href="gidrofiltri.html">гидрофильтры</a>. Они нужны для осаждения сажи, гашения искр, снижения температуры воздуха до допустимого уровня и как модули подготовки воздуха к очистке. Служат средством пожарной безопасности. Используются в основном в ресторанах.
                        a.slineBlock2__button.btn(href="/oborudovanie_dlya_ochistki_promishlennoi_vozduha") Подробнее

        section.slineBlock3
            .container
                .slineBlock3__content
                h2.slineBlock3__header Направления ПРИМЕНЕНИЯ промышленной очистки воздуха
                .slineBlock3__grid
                    .slineBlock3__card
                        a.slineBlock3__image(href="kanalizacionnye_stancii.html")
                            img.slineBlock3__ImageMobile(src="./img/content/canal.png")
                            .slineBlock3__link канализационные станции (КНС)
                        .slineBlock3__info
                            p.slineBlock3__about В современных комплексах очистки воды практически на всех циклах требуется удаление дурнопахнущих выбросов, таких, как аммиак, сероводород, оксид углерода и др. Для решения этой проблемы предназначена установка  S-Line Aero PRO, выделяющая озон, чей корпус и внутренние элементы изготовлены из нержавеющей стали. Это позволяет эксплуатировать установку максимально долго.

                    .slineBlock3__card
                        a.slineBlock3__image(href="oboronnaya_promyshlennost.html")
                            img.slineBlock3__ImageMobile(src="./img/content/army.png")
                            .slineBlock3__link оборонная промышленность
                        .slineBlock3__info
                            p.slineBlock3__about Во многих производствах оборонного сектора РФ есть участки производственных циклов, где присутствуют вредные выделения – термопрессование, пайка, гальваника, нанесение спиртосодержащих каучуков и т. д. Задачи подготовки и очистки воздуха на этих участках успешно решает серия оборудования S-Line Aero PRO.

                    .slineBlock3__card
                        a.slineBlock3__image(href="neftepererabotka.html")
                            img.slineBlock3__ImageMobile(src="./img/content/oil.png")
                            .slineBlock3__link нефтепереработка
                        .slineBlock3__info
                            p.slineBlock3__about При добыче и переработке нефти выделяются вредные вещества, такие, как углеводороды, сероводород, оксид углерода, диоксид серы и азот. В зависимости от участка обработки нефтесодержащих продуктов, с учетом класса взрывоопасности, нами подбирается индивидуальное инженерное решение. Оборудование имеет корпус и внутренние элементы систем из нержавеющей стали марки AISI.

                    .slineBlock3__card
                        a.slineBlock3__image(href="pokrasochnye_kamery.html")
                            img.slineBlock3__ImageMobile(src="./img/content/paint.png")
                            .slineBlock3__link покрасочные камеры
                        .slineBlock3__info
                            p.slineBlock3__about При производстве лакокрасочных покрытий применяются растворители, которые являются дурнопахнущими загрязнителями окружающей среды. Установка газоочистного комплекса S-Line Aero PRO на вытяжки покрасочных камер позволяет решить эту проблему. Так как растворители взрывоопасны, при подборе оборудования нами учитывается показатель НКПВ (нижнего коэффициента предела взрываемости).

                    .slineBlock3__card
                        a.slineBlock3__image(href="derevoobrabatyvayushchaya_promyshlennos.html")
                            img.slineBlock3__ImageMobile(src="./img/content/wood.png")
                            .slineBlock3__link деревообрабатывающая промышленность
                        .slineBlock3__info
                            p.slineBlock3__about Участки производств этой отрасли, где изготавливают ДСП, склеивают детали, наносят лакокрасочные материалы и т. д., выбрасывают в атмосферу пыль, волокна и вредные химические соединения. Эту проблему решает очистной комплекс S-Line Aero PRO с возможностью компоновки разными участками и степенями очистки. Как средства пожаробезопасности здесь подходят накопительные гидрофильтры S-Line Aqua Pro.

                    .slineBlock3__card
                        a.slineBlock3__image(href="ochistka_vybrosov_iz_tonnelnyh_magistralej.html")
                            img.slineBlock3__ImageMobile(src="./img/content/auto.png")
                            .slineBlock3__link очистка выбросов из тоннельных магистралей
                        .slineBlock3__info
                            p.slineBlock3__about Современные тоннели и паркинги имеют вытяжные системы. Установленные на них очистные установки S-Line Aero PRO с большой пропускной способностью позволяют обеспечить выброс в атмосферу качественно очищенного воздуха. Щит управления очистным комплексом можно адаптировать к центральной диспетчеризации управления по протоколу RS-485.





        section.slineBlock4
            .container
                .slineBlock4__grid
                    .slineBlock4__info
                        h2.slineBlock4__header Контакты
                        p.slineBlock4__phons
                            a.slineBlock4__phone(href="tel:74996535335") +7 (499) 653-53-35
                            a.slineBlock4__phone(href="tel:79164744979") +7 (916) 474-49-79
                        a.slineBlock4__email(href="mailto:info@sline-air.ru") info@sline-air.ru
                        .slineBlock4__address Москва ул. Остоженка,<br>с.1, к.3, офис 55
                        .slineBlock4__worktime Работаем по будням с 9:00-18:00
                        button.slineBlock4__button.btn Обратный звонок
                    .slineBlock4__map <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3c070d618b89bcb6734290d39a5284efbd6c133e7feb26a19cfa490df62543e1&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>

