extends common/direction.pug

block header
    h1 Канализационные станции (КНС)
block text
    p В современной инфраструктуре города обязательно присутствуют такие участки водоотведения, как канализационные очистные сооружения и насосные станции. Это современные комплексы очистки воды. Если рассмотреть более детально отдельно взятые участки таких комплексов, то практически на всех циклах очистки воды (участок решеток, песколовки, первичные отстойники и т.д.) требуется очистка дурнопахнущих выбросов (сероводород, аммиак, оксид углерода, метантиола и т.д.). Озон, который выделяет установка S-Line Aero PRO, воздействует на эти загрязнители. Источники питания позволяют безопасно использовать установки, а корпуса установок и все внутренние элементы выполнены из нержавеющей стали марки AISI 304, что позволяет эксплуатировать установку максимально долго. Межсервисные интервалы увеличены, однако не стоит забывать, что от нагрузки зависит в том числе и длительность эффективного использования. Блок управления установкой сам подскажет, когда необходимо произвести сервисное обслуживание.
block img
    img.ImageMobile(src="./img/content/canal.png")
    img.ImageDesctop(src="./img/content/canal.png")