extends common/direction.pug

block header
    h1 Нефтепереработка
block text
    p В нефтепереработке на разных этапах обработки и добычи нефти выделяются разные вредные для человека и окружающей среды химические элементы, всего их около 250, большинство которых относится к 1 и 2 классу опасности, однако основными загрязняющими элементами являются углеводороды, сероводород, оксид углерода, диоксид серы и азот. В зависимости от конкретного участка обработки нефтесодержащей продукции подбирается индивидуальное инженерное решение, с учетом класса взрывоопасности. Оборудование имеет корпус и внутренние элементы из нержавеющей стали марки AISI.
block img
    img.ImageMobile(src="./img/content/oil.png")
    img.ImageDesctop(src="./img/content/oil.png")