extends common/direction.pug

block header
    h1 Оборонная промышленность
block text
    p На сегодняшний день в оборонном секторе Российской Федерации собраны и продолжают развиваться самые разные производства. В каждом отдельно взятом из них зачастую присутствуют участки производственных циклов, где наблюдаются вредные запахи, будь то участки термопрессования, покраски, нанесения стиролсодержащих каучуков, участки пайки, гальваники и т.д. На каждом из таких участков есть свои особенности.  Инженерные решения, направленные на подготовку воздуха, имеют типовые и индивидуальные решения, и серия оборудования S-Line Aero PRO прекрасно справляется с поставленными задачами.
block img
    img.ImageMobile(src="./img/content/army.png")
    img.ImageDesctop(src="./img/content/army.png")