extends common/layout.pug

block content
    section.slineOb
        .container
            section.slineObB1
                .slineObB1__left
                    h1.slineObB1__header  ВОЗДУХООЧИСТИТЕЛЬНОЕ ОБОРУДОВАНИЕ
                    p Продукция, предлагаемая компанией "S-Line ", представляет собой оборудование, очищающее воздух рабочих зон и выбросов промышленных предприятий и предприятий общественного питания от вредных химических и органических соединений. Эффективность его работы насчитывает от 78, 4 и до 99,3% и зависит как от внешних факторов, так и от состава и общего количества загрязнителей.<br><br>Устройства по промышленной очистке воздуха изготавливаются нашей компанией на основе собственных разработок и могут монтироваться как в одном корпусе, так и в виде раздельных блоков. Они монтируются последовательно или могут располагаться на определенном расстоянии друг от друга. Предлагаемые нами очистные блоки встраиваются в систему вытяжки предприятия и не оборудуются вентиляторами.

                .slineObB1__right
                    img.slineObB1__Image(src="./img/content/main.png")

            section.slineObB2
                .slineObB2__grid
                    .slineObB2__item
                        img.slineObB2__Image(src="./img/content/i1.png")
                        p.slineObB2__text Гарантия&nbsp;в течение 10&nbsp;лет
                    .slineObB2__item
                        img.slineObB2__Image(src="./img/content/i2.png")
                        p.slineObB2__text Соблюдение  стандартов
                    .slineObB2__item
                        img.slineObB2__Image(src="./img/content/i3.png")
                        p.slineObB2__text Дистанционный контроль
                    .slineObB2__item
                        img.slineObB2__Image(src="./img/content/i4.png")
                        p.slineObB2__text Обучение<br>персонала

            section.slineObB3
                h2.slineObB3__header ПОДБОР КОНФИГУРАЦИИ ОБОРУДОВАНИЯ, РАСЧЁТ МОЩНОСТИ УСТАНОВКИ
                p.slineObB3__text Оборудование для очистки воздуха может быть сконфигурировано под любые объёмы,  с учетом интенсивности и состава выбросов. Расчёт системы производится на основе анализа действующей системы вентиляции предприятия, и состоит из нескольких этапов:
                ul.slineObB3__list
                    li Изучение специалистами S-Line действующей системы вентиляции с применением аналитического оборудования
                    li Подготовка проектной документации и утверждение ее с заказчиком
                    li Доставка и монтаж системы очистки воздуха на предприятии
                p.slineObB3__text Расчет мощности системы очистки воздуха производится нашими специалистами в соответствии со следующими параметрами:  Показатель объема очищаемого воздуха должен составлять не менее 45-88% от общей мощности комплекса;  Общая концентрация вредных веществ рассчитывается в зависимости от общего числа модулей;  При подборе оборудования для очистки воздуха для помещений общественного питания и производства продуктов питания,  например, гриль- баров, шашлычных, стейк-хаусов, коптилен и др. следует учитывать как пожелания заказчика,  так и наработанный опыт специалистов нашей компании.

            section.slineObB4
                h2.slineObB4__header СРОК СЛУЖБЫ СИСТЕМЫ ДЛЯ ОЧИСТКИ ВОЗДУХА НА ПРОИЗВОДСТВЕ
                p.slineObB4__text Потребляемая мощность предлагаемых нашей компанией систем очистки воздуха не превышает 0,1-0,15 Вт/м3. Они работают на электроэнергии, 5-7 кВт/ч,и не требуют дополнительного топлива, и не выделяют в окружающую среду вредных веществ.<br><br>При должном уходе и при соблюдении требований по монтажу и эксплуатации оборудования следует проводить восстановительные работы 1 раз в 3-5 лет. Эти работы заключаются в регенерации или замене модулей и т. д., цена составляет 25-35% от общей стоимости всего комплекса. Регенерация катализатора увеличивает показатель его эффективности до 88% от изначального значения.


            section.slineBlock3.slineObB5
                .container
                    .slineBlock3__content
                        h2.slineBlock3__header Линейки оборудования<br>S-Line
                    .slineBlock3__grid
                        .slineBlock3__card.slineBlock3__card_light
                            a.slineBlock3__image(href="ustanovki_dlya_ochistki_vozduha.html")
                                img.slineBlock3__ImageMobile(src="./img/content/canal.png")
                                .slineBlock3__link УСТАНОВКИ ДЛЯ ОЧИСТКИ ВОЗДУХА<br>S-Line Aero
                            .slineBlock3__info
                                p.slineBlock3__about Установки для очистки воздуха S-Line Aero Base, Haze, Auto позволяют очищать воздух от дыма, аэрозолей, взвешенных частиц, устранять запахи. Даное оборудование является канальным и состоит из последовательно соединенных между собой блоков (предфильтры, основные блоки очистки, блоки финишной очистки), сквозь которые проходит загрязненная газовоздушная смесь. В серии Aero (Base) используется окисление озоном в больших концентрациях, Aero Pro (Haze) действует за счет электрического разряда, в серии Auto используются моноблоки статической очистки и фильтры с ионизацией.

                        .slineBlock3__card.slineBlock3__card_light
                            a.slineBlock3__image(href="gidrofiltri.html")
                                img.slineBlock3__ImageMobile(src="./img/content/army.png")
                                .slineBlock3__link Гидрофильтры<br>S-Line Aqua
                            .slineBlock3__info
                                p.slineBlock3__about Гидрофильтры проточные S-Line Aqua и S-Line Aqua PRO применяются для осаждения сажи, гашения искр, сбивания температуры воздушных потоков до допустимых температур, также служат как модули подготовки воздуха перед очисткой. Используются преимущественно в ресторанах - в мангальных и тандырных зонах. Также служат средством пожарной безопасности. Изготавливаются из нержавеющей стали AISI 304, 410 Отличие серий: S-Line Aqua – это гидрофильтр проточный, а S-Line Aqua PRO - накопительный.
