extends common/direction.pug

block header
    h1 Очистка выбросов из тоннельных магистралей
block text
    p В крупных городах имеются тоннели, паркинги. На всех этих участках также есть вытяжные системы, которые позволяют безопасно передвигаться или находиться на этих участках большому скоплению машин. Вытяжная система выбрасывает скопившиеся газы в атмосферу рядом с тоннелем/паркингом, что при плотной жилой застройке создает известные проблемы населению.  Для соблюдения экологических норм и поддержания экологической среды в гармонии с природой устанавливаются очистные установки S-Line Aero PRO с большой пропускной способностью, позволяющие обеспечить выброс в атмосферу в виде качественно очищенного воздуха. Щит управления очистным комплексом можно адаптировать к центральной диспетчеризации управления по протоколу RS-485.
block img
    img.ImageMobile(src="./img/content/auto.png")
    img.ImageDesctop(src="./img/content/auto.png")