extends common/direction.pug

block header
    h1 Покрасочные камеры
block text
    p Покрасочные камеры – неотъемлемая часть некоторых производств. Вне зависимости от метода нанесения лакокрасочного покрытия, для соблюдения технологии процесса применяются растворители. Именно они являются дурнопахнущими загрязнителями, которые выбрасываются в атмосферу, чем нарушаются нормы охраны окружающей среды. Установкой газоочистного комплекса S-Line Aero PRO на участок вытяжки с покрасочных камер будут решены проблемы с нарушением в области выбросов, с жалобами соседей, с соблюдением экологических норм. Немаловажно, что растворители являются взрывоопасным веществом, поэтому при подборе оборудования обязательно учитывается такой показатель как НКПВ (нижний коэффициент предела взрываемости).
block img
    img.ImageMobile(src="./img/content/paint.png")
    img.ImageDesctop(src="./img/content/paint.png")