extends common/layout.pug

block content
    section.slineService.sline__padding
        .container
            .slineService__grid
                .slineService__text
                    .slineService__block
                        h2 Гарантия качества
                        p Качество поставляемой нами продукции основывается на собственных, постоянно совершенствующихся инновационных технологиях, основанных на обширной собранной нами базе данных и привлечении первоклассных специалистов, работой только с проверенными отечественными поставщиками. Наше оборудование сертифицировано (ГОСТ Р, ISO, ЕАЭС). Гарантия на предоставляемое нами оборудование составляет 10 лет, на расходные материалы – 1 год.

                    .slineService__block
                        h2 Обслуживание
                        p Компания «С-Лайн» осуществляет не только производство и установку, но и обслуживание воздухоочистительных систем. В него входит как регулярное обслуживание, контроль и тестирование рабочих параметров, текущий ремонт, так и диагностика скрытых неисправностей, которая позволяет предотвратить преждевременный выход из строя важных узлов оборудования. Ввиду наличия собственного автопарка с большим количеством транспортных единиц сервисные бригады в любой момент готовы выехать на объект.

                    .slineService__block
                        h2 Поддержка
                        p Наши технические специалисты постоянно, 24/7, находятся на связи. Осуществляется дистанционный контроль работы с использованием оптимальных протоколов связи центральной диспетчеризации RS-485. Время межсервисных интервалов рассчитывается индивидуально в зависимости от нагрузки на оборудование и количества загрязняющих веществ на предприятии.  Возможно обучение персонала в регионах работе с поставляемым нами системами очистки воздуха.

                .slineService__form
                    form.slineForm
                        p Заполните форму, мы свяжемся с вами и ответим на все интересующие вопросы или окажем поддержку

                        fieldset.slineFormField
                            label Ваше имя
                            input(type="text")

                        fieldset.slineFormField
                            label Ваш телефон  
                            input(type="text")

                        button.btn Отправить