.slineBlock2 {
	padding-top: 60px;

	&__content {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}

	&__ImageMobile {
		width: 100%;
	}

	&__images {
		padding: 0 16px;
	}

	&__ImageDesctop {
		display: none;
	}

	&__header {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 20px;
	}

	&__info {
		padding: 0 16px;
	}

	@media (min-width: $tablet_width) {
		padding-top: 80px;

		&__content {
			grid-template-columns: 1fr 1fr;
		}

		&__images {
			order: 1;
		}

		&__ImageMobile {
			display: none;
		}

		&__ImageDesctop {
			display: block;
			max-width: 100%;
			object-fit: cover;
		}

		&__info {
			order: 2;
		}
	}

	@media (min-width: $desktop-mini-width) {
		padding-top: 120px;

		&__content {
			grid-gap: 60px;
		}
	}

	@media (min-width: $desktop-width) {
		padding-top: 140px;

		&__info {
			padding: 0px;
		}
	}
}