.slineAir {
	&__start {
		padding-top: 20px;
		padding-bottom: 60px;

		h1 {

			padding-left: 16px;
			padding-right: 16px;
		}
	}


	&__sImage {
		max-width: 100%;
		width: 900px;
		margin: 0 auto;
		display: block;
	}


	&__block {

		&_left {

		}

		&_right {

		}
	}

	&__info, &__ImageInfo {
		padding: 32px 16px;
	}

	&__imageBlock {

	}

	&__Image {
		width: 100%;
	}


	@media (min-width: $tablet_width) {
		&__start {
			padding-bottom: 120px;
		}

		&__block {
			padding: 16px 16px;
			padding-bottom: 80px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 32px;

			&_left {
				.slineAir__info {
					order: 1
				}
				.slineAir__image {
					order: 2
				}
			}

			&_right {
				.slineAir__info {
					order: 2
				}
				.slineAir__image {
					order: 1
				}
			}
		}

		&__info, &__ImageInfo {
			padding: 0;
		}

		&__ImageInfo {
			padding-top: 16px;
		}

	}

	@media (min-width: $desktop-mini-width) {
		&__start {
			padding-bottom: 180px;
			
		}
	}

	@media (min-width: $desktop-width) {
		&__start {

			h1 {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		&__block {
			padding: 16px 0px;
			padding-bottom: 140px;
		}
	}
}