extends layout.pug

block content
    section.slineDir.sline__padding
        .container
            .slineDir__Grid
                .slineDir__info
                    block header
                    block text
                .slineDir__images
                    block img

            .slineDir__more
