.slineLines__line
    .slineLines__lineInfo
        h2.slineLines__lineName=line.name
        p.slineLines__lineText=line.text
    .slineLines__lineImage
        img.slineLines__lineImageMobile(src=line.img)
        img.slineLines__lineImageDesctop(src=line.img)