.slineLines__line
    .slineLines__lineInfo
        h2.slineLines__lineName=line.name
        p.slineLines__lineText=line.text
    .slineLines__lineImage
        img.slineLines__lineImageMobile(src="./img/content/second.png")
        img.slineLines__lineImageDesctop(src="./img/content/second.png")